body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #e8faff;
}

body {
    --s: 10em; /* control the size */
    --c2: #6fd4ff;
    --c1: #38aed9;
    --c3: #05719b;

    --_g: var(--c3) 0 120deg, #0000 0;
    background: conic-gradient(from -60deg at 50% calc(100% / 3), var(--_g)),
        conic-gradient(from 120deg at 50% calc(200% / 3), var(--_g)),
        conic-gradient(
            from 60deg at calc(200% / 3),
            var(--c3) 60deg,
            var(--c2) 0 120deg,
            #0000 0
        ),
        conic-gradient(
            from 180deg at calc(100% / 3),
            var(--c1) 60deg,
            var(--_g)
        ),
        linear-gradient(
            90deg,
            var(--c1) calc(100% / 6),
            var(--c2) 0 50%,
            var(--c1) 0 calc(500% / 6),
            var(--c2) 0
        );
    /* background-size: calc(1.732 * var(--s)) var(--s); */
}

.container {
    padding: 2em;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}

.title {
    font-size: 2em;
    position: relative;
    height: 3em; /* Add this line to give the title a fixed height */
}

.welco,
.open {
    color: var(--c1);
    text-shadow: -1px 1px 1px rgb(0, 0, 0),
        1px 1px 1px rgba(255, 255, 255, 0.257),
        /* bottom-right shadow */ 1px -1px 1px rgba(255, 255, 255, 0.171); /* top-left highlight */

    display: inline-block;
    /* transform: rotate3d(-32, 21, 27, 28deg) skewX(33deg) rotate(18deg); */
    /* transform: matrix(0.9, 0.56, 0, 0.96, 1, -1); */
    transform: matrix3d(
        1,
        0.65,
        0,
        -0.0015,
        0,
        1,
        1,
        0.001,
        1,
        1,
        0.2,
        0,
        0,
        1,
        0,
        1
    );
    transform-origin: 100% 50%;
}

.me-to,
.psyche {
    color: var(--c3);
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.2),
        /* bottom-right shadow */ 1px -1px 1px rgba(0, 0, 0, 1); /* top-left highlight */

    white-space: nowrap;
    display: inline-block;
    /* transform: rotate3d(-17, 10, 21, -40deg) skewX(-27deg); */
    /* transform: rotate3d(-22, 12, 21, -44deg) skewX(-28deg) rotate(-1deg); */
    /* transform: matrix(0.8, -0.5, -0.05, 1, 1, -1); */
    transform: matrix3d(
            1,
            -0.6,
            0,
            0.0015,
            0,
            1,
            0.7,
            0.001,
            0,
            0,
            -0.2,
            0,
            0,
            0,
            1,
            1.01
        )
        skewX(359deg);
    transform-origin: 0 50%;
}

.welco {
    position: absolute;
    right: 50%;
    top: 0;
}

.me-to {
    position: absolute;
    left: 50%;
    top: 0;
}

.open {
    position: absolute;
    right: 50%;
    bottom: 0;
}

.psyche {
    position: absolute;
    left: 50%;
    bottom: 0;
}

.subtitle {
    margin-top: 2em;
    font-size: 1.2em;
    text-shadow: 0px 0px 3px rgb(0, 0, 0);
}

.logo {
    width: 150px;
    height: 150px;
    background: url("../img/logo_simplified_countur.svg") no-repeat center
        center;
    background-size: contain;
    margin: 0 auto 20px auto;
}

.title {
    font-size: 2.5em;
    margin: 10px 0;
}

.subtitle {
    font-size: 1.5em;
    margin: 10px 0;
}

footer {
    position: absolute;
    bottom: 10px;
    font-size: 0.9em;
}
